
.settings/Release/settings-afad0842.json
.settings/Release/settings-a1b2dac1.json
.settings/Release/settings-9e9290da.json
.settings/Release/settings-590bb27b.json
.settings/Release/settings-5190454b.json
.settings/Release/settings-1a5b880a.json
.settings/Design/settings-afad0842.json
.settings/Debug/settings-afad0842.json
.settings/Debug/settings-a1b2dac1.json
.settings/Debug/settings-9e9290da.json
.settings/Debug/settings-590bb27b.json
.settings/Debug/settings-5190454b.json
.settings/Debug/settings-1a5b880a.json
.project/design.json
.local/ProjectSettings.json
.local/PackageBindingsMetadata.json
.local/db/references.db
.tmh/config.json
.local/ProjectSettings.json
